body{
    overflow-x: hidden;
}
.music-player{
    width: 100%;
    max-width: 1518px;
    height: 70px;
    position: absolute;
    bottom: 8px;
    background-color: #000000;
    /* opacity: 0; */
}
.music-player-inner{
    width: 99%;
    align-items: center;
    justify-content: space-between;
}
.songs-media ul li{
    list-style-type: none;
}
.song-info{
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}
.song-info .song-info-inner{
    align-items: center;
    width: 30%;
    gap: 0.7vw;

}
.song-info:hover{
    background-color:  rgba(179, 179, 179, 0.253);
    border-radius: 10px;
    cursor: pointer;
}
.song-info-inner img{
    border-radius: 4px;
    height: 40px;
    width: 40px;
}
.song-info-inner div{
    font-size: 15px;
}
.song{
    width: 20%;
    align-items: center;
    gap: 10px;
}
.song-image{
    border-radius: 4px;
    height: 40px;
    width: 40px;
    border: 2px solid #fff;
}
.song-control{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}
.song-control-top{
    margin-top: 15px;
    gap: 30px;
    width: 100%;
    justify-content: center;
}
.song-control-top .shuffle-icon,
.song-control-top .prev-icon,
.song-control-top .next-icon,
.song-control-top .loop-icon{
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}
.song-control-top img{
    height: 16px;
    width: 16px;
}
.song-control-top .song-play-icon{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}
.song-info-inner p,
.song-track,
.song-duration{
    color: #b3b3b3;
    font-size: 14px;
}
.song-control-bottom{
    justify-content: space-between;
    width: 100%;
}
.song-time-start{
    width: 45px;
}
.song-time-end{
    width: 45px;
}
.seekbar{
    height: 6px;
    width: 300px;
    background:  #9f9f9f7f;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}
.seekbar .circle{
    background-color: #fff;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    position: relative;
    bottom: 4px;
    left: 0%;
    transition: left 0.5s;
    cursor: pointer;
}
.song-option{
    width: 20%;
}